@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);









body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #fcd844 !important;
}
.bg-success {
  background-color: #b8312f !important;
}
.bg-info {
  background-color: #404546 !important;
}
.bg-warning {
  background-color: #b8312f !important;
}
.bg-danger {
  background-color: #b8312f !important;
}
.btn-primary {
  background-color: #fcd844;
  border-color: #fcd844;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f0c204;
  border-color: #f0c204;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f0c204 !important;
  border-color: #f0c204 !important;
}
.btn-secondary {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-info {
  background-color: #404546;
  border-color: #404546;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #1b1e1e;
  border-color: #1b1e1e;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1b1e1e !important;
  border-color: #1b1e1e !important;
}
.btn-success {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-warning {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-danger {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-primary-outline {
  background: none;
  border-color: #d7ad03;
  color: #d7ad03;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #fcd844;
  border-color: #fcd844;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fcd844 !important;
  border-color: #fcd844 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-info-outline {
  background: none;
  border-color: #0f1011;
  color: #0f1011;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #404546;
  border-color: #404546;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #404546 !important;
  border-color: #404546 !important;
}
.btn-success-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.text-primary {
  color: #fcd844 !important;
}
.text-success {
  color: #b8312f !important;
}
.text-info {
  color: #404546 !important;
}
.text-warning {
  color: #b8312f !important;
}
.text-danger {
  color: #b8312f !important;
}
.alert-success {
  background-color: #b8312f;
}
.alert-info {
  background-color: #404546;
}
.alert-warning {
  background-color: #b8312f;
}
.alert-danger {
  background-color: #b8312f;
}
.btn-social {
  border-color: #fcd844;
}
.btn-social:hover {
  background: #fcd844;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #fcd844;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #fcd844;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #fcd844;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #fcd844;
}
.lead a,
.lead a:hover {
  color: #fcd844;
}
.lead blockquote {
  border-color: #fcd844;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b2b8b9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #fcd844;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
}
#menu-c .link {
  font-size: 0.75rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #fcd844;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #0e0e0e;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #fcd844;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-c .btn {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#contacts3-d H4 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}
#contacts3-d STRONG {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#contacts3-d P {
  font-family: 'Roboto', sans-serif;
}
#contacts3-d .list-group-text {
  font-family: 'Roboto', sans-serif;
}
#contacts3-d SPAN {
  color: #ffffff;
}






#menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
#menu-7 .navbar-toggler {
  color: #ffffff;
}
#menu-7 .close-icon::before,
#menu-7 .close-icon::after {
  background-color: #ffffff;
}
#menu-7 .link,
#menu-7 .dropdown-item {
  color: #ffffff;
}
#menu-7 .link {
  font-size: 0.75rem;
}
#menu-7 .dropdown-item,
#menu-7 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-7 .link:hover,
#menu-7 .dropdown-item:hover,
#menu-7 .link:focus,
#menu-7 .dropdown-item:focus {
  color: #fcd844;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-menu {
  background: #0e0e0e;
}
#menu-7 .nav-dropdown-sm .link:focus,
#menu-7 .nav-dropdown-sm .link:hover,
#menu-7 .nav-dropdown-sm .dropdown-item:focus,
#menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-7 .navbar,
#menu-7 .nav-dropdown-sm,
#menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7 .bg-color.transparent.opened .link:hover,
#menu-7 .bg-color.transparent.opened .link:focus {
  color: #fcd844;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-7 .btn {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#contacts3-8 H4 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}
#contacts3-8 STRONG {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#contacts3-8 P {
  font-family: 'Roboto', sans-serif;
}
#contacts3-8 .list-group-text {
  font-family: 'Roboto', sans-serif;
}
#contacts3-8 SPAN {
  color: #ffffff;
}






#menu-5 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
#menu-5 .navbar-toggler {
  color: #ffffff;
}
#menu-5 .close-icon::before,
#menu-5 .close-icon::after {
  background-color: #ffffff;
}
#menu-5 .link,
#menu-5 .dropdown-item {
  color: #ffffff;
}
#menu-5 .link {
  font-size: 0.75rem;
}
#menu-5 .dropdown-item,
#menu-5 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-5 .link:hover,
#menu-5 .dropdown-item:hover,
#menu-5 .link:focus,
#menu-5 .dropdown-item:focus {
  color: #fcd844;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-menu {
  background: #0e0e0e;
}
#menu-5 .nav-dropdown-sm .link:focus,
#menu-5 .nav-dropdown-sm .link:hover,
#menu-5 .nav-dropdown-sm .dropdown-item:focus,
#menu-5 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-5 .navbar,
#menu-5 .nav-dropdown-sm,
#menu-5 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-5 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5 .bg-color.transparent.opened .link:hover,
#menu-5 .bg-color.transparent.opened .link:focus {
  color: #fcd844;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-item[aria-expanded="true"] {
  color: #fcd844!important;
}
#menu-5 .btn {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#header1-0 .mbr-section-title {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
#header1-0 .mbr-section-lead {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#msg-box5-i H3 {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}
#msg-box5-i P {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#features7-k .card-subtitle {
  color: #bcbcbc;
}
#features7-k .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features7-k P {
  text-align: center;
  color: #000000;
}
#features7-k H4 {
  color: #c1c1c1;
}
#contacts2-j STRONG {
  color: #ffffff;
}
#header2-n .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-align: left;
}


#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #ffffff;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #ffffff;
}
#menu-l .link {
  font-size: 0.75rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #fcd844;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #0e0e0e;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #fcd844;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-l .btn {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#contacts2-m STRONG {
  color: #ffffff;
}
